*{
    box-sizing: border-box;
}

body{
    margin:0 ;
    padding:0;
    background-color: #42d7f5;
    font-family: 'Oswald', sans-serif;
}

#ust{
    background-color: #6932a8 ;
    color: white;
    height: 40px;
    width: 100%;
    top: 0%;
    z-index:1;
    font-size: 18px;
    text-align: center;
    padding: 5px;
    margin-bottom: 50px;
}

#ust_yazi{
    float: left;
}

#container{
    width: 80%;
    margin: auto;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 8px 2px rgba(20, 23, 28, .15);
}

section{
    top: 40px;
    width: 100%;
    height: auto;
    background-color: #bee4ff;
    overflow: auto;
}

nav{
    width: 20%;
    float: left;
    margin-top: 10px;
    height: auto;
}

nav ul{
    width: auto;
    height: 100%;
    margin: 0;
    padding: 0;
}

nav li{
    list-style-type: none;
}

nav li a{
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #b4b4b4;
    padding-left: 20px;
    display: block;
}

nav li a:hover{
    color: white;
    background-color: #adadad;
}

main{
    float: right;
    height: auto;
    width: 80%;
    margin-top: 20px;
}

.karaktersayfa{
    width: 98%;
    margin: 10px;
}

.tablo{
    border: solid 2px gray;
    width: 330px;
    height: auto;
    background-color: white;
    float: right;
    border-radius: 5px;
}

.tablo li{
    list-style-type: none;
}

.tablo li p{
    height: auto;
    color: black;
    border-bottom: 1px solid #b4b4b4;
    padding-left: 20px;
    display: block;
    font-family: 'Raleway', sans-serif;
}

.karakterisim{
    text-align: center;
    background-color: darkblue;
    color: wheat;
    border-radius: 30px;
}

.karakterresim{
    width: 150px;
    height: auto;
    display: inline-block;
    margin: 5px;
}

.karaktermetin{
    font-family: 'Open Sans Condensed', sans-serif;
}

.karaktermetin p{
    font-size: 20px;
}
